/******************** Universal styles ********************/
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
.boxed {
    width: 80%;
    margin: 0 auto;
}
.flexed {
    display: flex;
}

/******************** Header styles ********************/
header {
    background-color: orangered;
}
header>div {
    position: sticky;
    color: white;
    padding: 1rem 0;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;

}
.kind>span,
.user>i {
    margin: 0 0.2rem;
}
header img {
    height: 3rem;
}

/******************** Main styles ********************/
/********** Image styles **********/
main {
    margin: 2rem 0;
}
main>div {
    max-width: 1500px;
}
main ul {
    list-style: none;
    gap: 3rem 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
}
main li {
    position: relative;
}
li img {
    width: 25rem;
}
.heart {
    position: absolute;
    top: 2%; right: 0%;
    background-color: white;
    padding: 0.6rem;
}
.tags {
    position: absolute;
    bottom: 20%;
}
.tags>span {
    font-weight: 700;
    color: white;
    padding: 0.3rem;
}
.discount-percent {
    background-color: red;
    margin-right: 0.2rem;
}
.sostenibility {
    background-color: green;
}
/********** Details styles **********/
.details {
    position: relative;
    top: 0;
}
.details>p:first-child {
    color: gray;
}
.discount {
    color: red;
}
.no-discount {
    color: gray;
}

/******************** Footer styles ********************/
footer {
    background-color: rgb(34, 34, 34);
}
footer>div {
    height: 7rem;
    color: white;
    justify-content: space-between;
    align-items: center;
}
footer p {
    font-weight: 700;
    margin-bottom: 0.5rem;
}
footer span {
    font-size: 0.8rem;
    margin: 0 0.2rem;
}
footer section:last-child {
    text-align: center;
}